[gearman]
server=127.0.0.1

[gearman_server]
start=true

[zookeeper]
hosts=localhost
# Actually, this needs to point at the nodepool server, probably
# {{ groups['nodepool'] | first }}

[executor]
private_key_file=/var/lib/zuul/.ssh/nodepool_rsa

[merger]
git_user_name={{ git_user_name }}
git_user_email={{ git_user_email }}

[web]
listen_address=0.0.0.0

[scheduler]
tenant_config=/etc/zuul/main.yaml

[connection "opendev.org"]
driver=git
baseurl=https://opendev.org/

[connection "mysql"]
name=mysql
driver=sql
dburi=mysql+pymysql://zuul:%(zuul_mysql_password)s@localhost/zuul

[connection "gerrit"]
name=gerrit
driver=gerrit
server={{zuul_gerrit_host}}
sshkey=/var/lib/zuul/.ssh/id_ed25519
user=zuul
baseurl={{zuul_gerrit_url}}
password=%(zuul_gerrit_password)s
